<table>
  <tr>
    <th>Isin:</th>
    <td>{{fund.isin}}</td>
  </tr>
  <tr>
    <th>UPI Code:</th>
    <td>
      {{fund.upi}}
    </td>
  </tr>
  <tr>
    <th>
      Benchmark:
    </th>
    <td>
      {{fund.benchmark}}
    </td>
  </tr>
  <tr>
    <th>
      Fund currency:
    </th>
    <td>
      {{fund.aumFundCurrency}}
    </td>
  </tr>
  <tr>
    <th>Subfund of:</th>
    <td>{{fund.subfundOf}}</td>
  </tr>
  <tr>
    <th>
      SubFund Name:
    </th>
    <td>{{fund.subFundName}}</td>
  </tr>
</table>

